* {
    box-sizing: border-box;
}

body {
    background-color: #ac85d8;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #EBDAFE;
    height: 50px;
}

.rectangles {
    background-color: white;
    width: 40px;
    height: 10px;
    margin-top: 5px;
}

.nav-father {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
.nav-logo {
    width: 100px;
    height: auto;
    overflow: hidden;
}

.nav {
    display: flex;
}

.navs-links {
    display: flex;
    align-items: center;
    list-style: none;
    color: #dc60cc;
}

.navs-links li a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin: 0 15px;
}

.navs-links li :hover {
    color: #FEFCDA;
    transition: all ease .5s;
}

.first-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-1, .dot-2, .dot-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 10px;
    padding: 0px;
}

.white-dot {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50px;
}

.product-description {
    margin-right: 105px;
    color: white;
    width: 300px;
}

.product-description button{
    width: 100px;
    height: 50px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, .0);
    font-weight: bold;
    padding: 5px;
    color: white;
}

.product-description button:hover {
    cursor: pointer;
    transition: all ease .5s;
    background-color: white;
    color:#ac85d8;
    font-weight: 900;
}

.product-img img {
    width: 300px;
    margin-left: 150px;
}

.products {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-lines {
    width: 80vw;
}

.product-lines h2{
    padding-top: 20px;
}

.lines {
    display: flex;
    overflow: scroll;
}

.products-presentation {
    width: 170px;
    height: 200px;
    margin: 10px;
    background-color: #ac85d8;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.products-presentation h5 {
    margin: 9px ;
    font-size: 15px;
}

.products-presentation h4 {
    margin: 0;
    color:white
}

.products-presentation  img{
    width: 140px;
    height: 140px;
    margin: 0;
}

footer {
    background-color: #121212;
    height: 100px;
}
